# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Local development data
data/
notebooks/
*.npy
*.pkl
*.joblib

# OS / editor
.DS_Store
Thumbs.db
.vscode/